{% extends 'tasks/base.html' %}
{% load static %}

{% block css %}
<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/slick.css' %}"/>

<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">

<link href="{% static 'css/tooplate-little-fashion.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
<main>

    <br>
    <br>
    <br>
    <hr>
    <br>
    <br>

    <div class="container">
        <div class="main-body">

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="{% if user.image %}{{ user.image.url }}{% else %} https://bootdey.com/img/Content/avatar/avatar7.png {% endif %}"
                                     alt="Admin"
                                     class="rounded-circle" width="150" height="150">
                                <div class="mt-3">
                                    <h4>{{ user.get_full_name }}</h4>
                                    <a class="btn btn-primary" href="{% url 'user:sign_out' %}">Выйти</a>
                                    <a id="b2" class="btn btn-outline-primary" href="{% url 'tasks:task_list' %}">Задания</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">


                            <form role="form" method="post" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="form-floating my-4">
                                    {{ form.first_name }}
                                    <label for="{{ form.first_name.id_for_label }}">Имя</label>
                                </div>

                                <hr>

                                <div class="form-floating my-4">
                                    {{ form.last_name }}
                                    <label for="{{ form.last_name.id_for_label }}">Фамилия</label>
                                </div>

                                <hr>

                                <div class="form-floating my-4">
                                    <input type="text" name="username" class="form-control" placeholder="Логин"
                                           value="{{ user.username }}" readonly disabled required>

                                    <label for="last_name">Логин</label>
                                </div>

                                <hr>

                                <div class="form-floating my-4">
                                    <input type="email" name="email" id="email" class="form-control"
                                           placeholder="Электронная почта" value="{{ user.email }}" readonly disabled
                                           required>

                                    <label for="email">Электронная почта</label>
                                    {% if not user.email_verified %}
                                    <p style="font-size:15px">* адрес электронной почты не подтвержден</p>
                                    {% endif %}
                                </div>

                                {{ form.image }}
                                <label for="{{ form.image.id_for_label }}">Выберите изображение</label>

                                <button type="submit" class="btn custom-btn form-control mt-4 mb-3">
                                    Изменить данные
                                </button>

                            </form>


                        </div>
                    </div>

                    <div class="row gutters-sm">
                        <div class="col-sm-6 mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h6 id="ccompl" class="d-flex align-items-center mb-3"><i>Количество выполненных
                                        заданий</i></h6>
                                    <p style="text-align: center; color: black"><b>{{ user.number_of_completed_tasks }}</b></p>
                                    <div class="progress mb-3" style="height: 5px">
                                        <div class="progress-bar bg-primary" role="progressbar"
                                             style="width: {{ user.get_completion_percentage }}%"
                                             aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h6 id="covrd" class="d-flex align-items-center mb-3"><i>Количество просроченных
                                        заданий</i></h6>
                                    <p style="text-align: center; color: black"><b>{{ user.number_of_overdue_tasks }}</b></p>
                                    <div class="progress mb-3" style="height: 5px">
                                        <div class="progress-bar bg-primary" role="progressbar"
                                             style="width: {{ user.get_overdue_percentage }}%"
                                             aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</main>
{% endblock %}
